<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>Cars</title>
</head>
<body>
<div class="container">
    <div class="card" style="width: 100%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Cars </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:if="${user.name != 'Гость'}" th:href="@{/user/logout}">
                        <span th:text="${user.name}"></span>
                        <span> | Выйти</span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="card" style="width: 100%">
            <div class="card-header">
                <b>Новое объявление</b>
            </div>
            <div class="card-body">
                <form th:action="@{/post/create}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="0"/>
                    <div class="form-group">
                        <label for="car_name">Добавьте марку автомобиля</label>
                        <input type="text" class="form-control" name="car_name" id="car_name">
                        <label for="post_desc">Добавьте описание</label>
                        <input type="text" class="form-control" name="post_desc" id="post_desc">
                        <label for="engine_name">Добавьте марку двигателя</label>
                        <input type="text" class="form-control" name="engine_name" id="engine_name">
                        <label for="engine_number">Добавьте номер двигателя</label>
                        <input type="text" class="form-control" name="engine_number" id="engine_number">
                        <label for="driver_name">Добавьте владельца автомобиля</label>
                        <input type="text" class="form-control" name="driver_name" id="driver_name">
                        <label for="photo">Добавьте фото</label>
                        <input type="file" class="form-control" name="attachment" id="photo">
                    </div>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <a class="btn btn-danger" th:href="@{/post/posts}" role="button">Отменить</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>