<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>Cars</title>
</head>
<body>
<div class="container">
    <div class="card" style="width: 100%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Cars </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:if="${user.name != 'Гость'}" th:href="@{/user/logout}">
                        <span th:text="${user.name}"></span>
                        <span> | Выйти</span>
                    </a>
                </div>
            </div>
        </nav>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Модель</th>
                <th scope="col">Тип двигателя</th>
                <th scope="col">Статус объявления</th>
                <th scope="col">Дата размещения</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post:${posts}">
                <form th:action="@{/post/select}" method="POST">
                    <td th:text="${post.id}"></td>
                    <td>
                        <button type="submit" class="btn btn-link">
                            <input type="hidden" name="postId" th:value="${post.id}"/>
                            <span class=" " th:text="${post.car.name}"></span>
                        </button>
                    </td>
                    <td th:text="${post.car.engine.name}"></td>
                    <td>
                        <span th:if="${post.status}">Продано</span>
                        <span th:unless="${post.status}">В продаже</span>
                    </td>
                    <td th:text="${#temporals.format(post.created, 'dd-MM-EE-yyyy HH:mm:ss')}"></td>
                </form>
            </tr>
            </tbody>
        </table>
        <div class="container">
            <a class="btn btn-primary" th:href="@{/post/add}" role="button">Добавить объявление</a>
            <a class="btn btn-secondary" th:href="@{/post/posts}" role="button">Все</a>
            <a class="btn btn-success" th:href="@{/post/posts?status=true}" role="button">Продано</a>
            <a class="btn btn-warning" th:href="@{/post/posts?status=false}" role="button">В продаже</a>
        </div>
        <p></p>
    </div>
</div>
</body>
</html>